<div class="container py-5 my-5">
  <div class="text-center text-dark">
    <h1>conatct section</h1>
    <div class="d-flex justify-content-center align-items-center my-2">
      <div class="line me-3 rounded"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line ms-3 rounded"></div>
    </div>
  </div>
  <div class="py-5 w-50 mx-auto">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="">
      <label for="floatingInput">User name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" placeholder="">
      <label for="floatingInput">User age</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn custom-btn mt-3 ">send message</button>
  </div>
</div>
