<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-4 fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Start Framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/about" routerLinkActive="color-nav rounded" >ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/portfolio" routerLinkActive="color-nav rounded" >PORTFOLIO</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white" routerLink="/contact" routerLinkActive="color-nav rounded" >CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
