<div class="container-fluid home d-flex justify-content-center align-items-center">
  <div>
    <div class="w-25 m-auto">
      <img class="w-100" src="/images/avataaars.svg" alt="avatar" />
    </div>
    <div class="text-center text-white">
      <h1>start Framework</h1>
      <div class="d-flex justify-content-center align-items-center my-2">
        <div class="line me-3 rounded"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3 rounded"></div>
      </div>
      <p class="">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</div>
